name: Build, Push Docker Image & Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t factfusionwithshweta/devops-node-app:latest .

      - name: Push Docker image to Docker Hub
        run: |
          docker push factfusionwithshweta/devops-node-app:latest

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull factfusionwithshweta/devops-node-app:latest
            docker stop devops-app || true
            docker rm devops-app || true
            docker run -d -p 80:3000 --name devops-app factfusionwithshweta/devops-node-app:latest
